:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: Sarabun, Roboto, -apple-system, sans-serif;
  background: #F8F5EF;
  min-height: 100vh;
  color: #242424;
}

/* Main content */
.main {
  padding: 32px 0;
}

.container {
  max-width: 460px;
  margin: 0 auto;
}

.header {
  padding: 24px 0 20px;
  text-align: center;
}

.title {
  text-align: center;
  font: 600 18px/28px Sarabun;
  letter-spacing: 0.1px;
}

/* Offers section */
.offers-section {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 24px;
  background: #FFF;
}

.offers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.offers-title {
  text-align: center;
  font: 600 16px/24px Sarabun;
  letter-spacing: 0.1px;
}

/* Offer cards */
.offer-card-container:not(:last-child) {
  border-bottom: 1px solid rgba(58, 72, 122, .149);
  padding-bottom: 16px;
}

.offers-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.offer-card {
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 1px solid rgba(58, 72, 122, 0.15);
  padding: 24px 16px 16px;
  position: relative;
  display: flex;
  flex-direction: column;
    /*box-shadow: 0 2px 8px 0 rgba(39, 73, 113, 0.15);*/
}

.prequalified-badge {
  background-color: #F69B44;
  color: #FFFFFF ;
  border-radius: 0 6px;
  display: flex;
  justify-content: center;
  font: 500 12px/18px Sarabun;
  letter-spacing: 0.2px;
  padding: 4px 8px 4px 12px;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 106px;
}

.offer-card-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.offer-card-header {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
}

.offer-card-header-block {
  display: flex;
  flex-direction: column;
  height: 65px;
  justify-content: space-between;
}

.offer-card-header-block:nth-child(2) {
  width: 140px;
}

.offer-amount {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.offer-description {
  color: #5D5D5D;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.offer-card-header-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 40px;
}

.offer-card-header-logo img {
  max-width: 100%;
}

.offer-card-header-disclamer {
  color: #8B6043;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: .2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.offer-body {
  border-top: 1px solid #d6d9e4;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-top: 16px;
  padding-top: 16px;
  row-gap: 16px;
  justify-content: space-between;
}

.offer-body-title {
  font: 500 16px/24px Sarabun;
  letter-spacing: 0.2px;
}

.offer-body-description {
  font: 500 12px/18px Sarabun;
  letter-spacing: 0.2px;
  color: #5D5D5D;
}

.continue-btn {
  position: relative;
  color: white !important;
  display: flex;
  width: 100%;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: #242424;
  margin-top: 16px;
}

.continue-btn img {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

/*.disclosures {*/
/*  text-align: center;*/
/*  margin-top: 20px;*/
/*}*/

/*.disclosures-link {*/
/*  color: rgba(36, 36, 36, 0.80);*/
/*  font: 400 14px/20px Sarabun;*/
/*  letter-spacing: 0.2px;*/
/*  text-decoration: underline solid auto;*/
/*}*/

@media (max-width: 768px) {
  .header {
    padding: 16px;
  }

  .title {
    font-size: 24px;
  }

  .offers-section {
    padding: 16px;
  }
}
