#root {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    font-family: Sarabun, Roboto, -apple-system, sans-serif;
    background: #F8F5EF;
    min-height: 100vh;
    color: #242424;
}

/* Main content */
.main {
    padding: 32px 0;
}

.container {
    max-width: 560px;
    margin: 0 auto;
}

.header {
    padding: 24px 0 20px;
    text-align: center;
}

.title {
    text-align: center;
    font: 600 18px/28px Sarabun;
    letter-spacing: 0.1px;
}

/* Offers section */
.offers-section {
    display: flex;
    max-width: 560px;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 24px;
    background: #FFF;
}

.offers-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.offers-title {
    text-align: center;
    font: 600 16px/24px Sarabun;
    letter-spacing: 0.1px;
}

.secured-badge {
    display: flex;
    align-items: center;
    gap: 4px;

    span {
        text-align: center;
        font: 500 14px/20px Sarabun;
        letter-spacing: 0.2px;
    }
}

/* Offer cards */
.offer-card-container:not(:last-child) {
    border-bottom: 1px solid rgba(58, 72, 122, .149);
    padding-bottom: 16px;
}

.offers-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.offer-card-title {
    font: 600 16px/24px Sarabun;
    letter-spacing: 0.1px;
    margin-bottom: 16px;
}

.offer-card {
    background-color: rgba(248, 245, 239, 0.24);;
    border-radius: 8px;
    border: 1px solid rgba(58, 72, 122, 0.15);
    padding: 24px 16px 16px;
    position: relative;
}

.prequalified-badge {
    background-color: #FFE8B1;
    border-radius: 0 6px;
    display: flex;
    justify-content: center;
    font: 500 12px/18px Sarabun;
    letter-spacing: 0.2px;
    padding: 4px 8px 4px 12px;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 106px;
}

.offer-card-inner {
    display: flex;
    flex-direction: column;
}

.offer-card-header {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
}

.offer-card-header-block {
    display: flex;
    flex-direction: column;
    height: 65px;
    justify-content: space-between;
}

.offer-card-header-block:nth-child(2) {
    width: 140px;
}

.offer-amount {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.offer-description {
    color: #5D5D5D;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.offer-card-header-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 40px;

    img {
        max-height: 110px;
        max-width: 100%;
    }
}

.offer-card-header-disclamer {
    color: #8B6043;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: .2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.offer-body {
    border-top: 1px solid #d6d9e4;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-top: 16px;
    padding-top: 16px;
    row-gap: 16px;
}

.offer-body-block {
    margin-right: auto;
}

.offer-body-title {
    font: 500 16px/24px Sarabun;
    letter-spacing: 0.2px;
}

.offer-body-description {
    font: 500 12px/18px Sarabun;
    letter-spacing: 0.2px;
    color: #5D5D5D;
}

.continue-btn {
    display: flex;
    min-width: 90px;
    padding: 8px 8px 8px 36px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 32px;
    background: #242424;
}

.disclosures {
    text-align: center;
    margin-top: 20px;
}

.disclosures-link {
    color: rgba(36, 36, 36, 0.80);
    font: 400 14px/20px Sarabun;
    letter-spacing: 0.2px;
    text-decoration: underline solid auto;
}

@media (max-width: 768px) {
    .header {
        padding: 16px;
    }

    .title {
        font-size: 24px;
    }

    .offers-section {
        padding: 16px;
    }
}

/* Адаптив (мобильная версия) */
@media (max-width: 375px) {
    .continue-btn {
        width: 100%;
    }
}